[bump2version]
current_version = 0.2.0
commit = False
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
serialize = 
	{major}.{minor}.{patch}

[bumpversion:file:book/_config.yml]
search = Book version {current_version}
replace = {new_version}
