[bumpversion]
current_version = 2020.0
commit = True
tag = True
parse = (?P<year>\d+)\.(?P<build>\d+)
serialize = {year}.{build}

[bumpversion:file:book/_config.yml]
search = Book version {current_version}
replace = Book version {new_version}
